
<!-- [getConnectorDefaults]="defaultConnectorValues"  [getNodeDefaults]="deafaultNodeValues" [layout]="layOutSetting"  [dataSourceSettings]="jsonDataSourceSetting"-->
<!-- <ejs-diagram width="100%" height="850px"  -->
  >
  <!-- <e-nodes>
    <e-nodes id="node1" >

    </e-nodes>
  </e-nodes> -->
<!-- </ejs-diagram> -->

<!-- <ejs-diagram [nodes]='nodes' [connectors]='connectors'> -->
  <!-- <e-diagram-annotations> -->
    <!-- <e-diagram-annotation [content]='content'></e-diagram-annotation> -->
  <!-- </e-diagram-annotations> -->
<!-- </ejs-diagram> -->

<ejs-diagram [nodes]='nodes' [connectors]='connectors'></ejs-diagram>
